<nav class="navbar navbar-default">
 <div class="container">
  <h3>{{title}}</h3>
  
<div class="col-xs-3">
    <input type="text" class="form-control"  #box (keyup.enter)="queryWeather(box.value)" [(ngModel)]="cityName">
 </div>
  <button type="button" class="btn btn-success" (click)="queryWeather()">Go</button>

  <h4 *ngIf="errMsg">{{errMsg}} </h4>
  
  <h3 >Weather statistics for <strong >{{cityName}}</strong></h3>
  </div>
</nav>


<div class="container">

  <h4 *ngIf="country">Country: {{country}} </h4>
  
  <div class="container" *ngIf= "latitude">
  <agm-map [latitude]="latitude" [longitude]="longitude"></agm-map>
  </div>
  <section *ngFor="let weather of weatherForecastComponents" >
      {{ weather.date | date:'yMMMMEEEEd'}}
      {{ weather.date | date:'jm'}}
  <ul >
    <li>Description: {{ weather.weatherDescription}}</li>
    <li>Temperature: {{ weather.temperatureCelcius}} degrees</li>
    <li>Cloudiness %: {{ weather.cloudiness}}</li>
    <li>Humidity %: {{ weather.humidity}}</li>
    <li>Wind Speed: {{ weather.windSpeedPerKm}}km/hour, which is classified as {{weather.windClassification}}</li>
  </ul>
</section>
 
 </div>

